{% extends 'base.html.twig' %}

{% block titulo %}IAPOS - Sistema Interno{% endblock %}
{% block tituloAplicacion %}IAPOS - Sistema Interno{% endblock %}

{% block body %}
	<div class="row">
		<h2><strong>Bienvenido</strong></h2>
		<p>Bienvenido al sistema interno del Instituto Autárquico Provincial de Obra Social. Para proceder seleccione alguno de los aplicativos ubicados en la barra superior. Por cualquier consulta comunicarse con la sectorial de informática (+54-0342-4101850)</p>
	</div>
{% endblock %}
