{% extends 'base.html.twig' %}
{% block titulo %}Sistema Interno - IAPOS{% endblock %}
{% block tituloAplicacion %}Sistema Interno - IAPOS{% endblock %}

{% block body %}
    <div class="row">
        <h2>
            <strong>
                {% if status_code == 404 %}
                    Página no encontrada
                {% elseif status_code == 403 %}
                    Acceso restringido
                {% elseif status_code == 500 %}
                    Error interno
                {% else %}
                    Error desconocido
                {% endif %}
            </strong>
        </h2>
        <p>
            {% if status_code == 404 %}
                No encontramos la página que está buscando. Por favor, controlar el valor ingresado e intentar nuevamente.
            {% elseif status_code == 403 %}
                No tiene permitido el acceso a esta sección.
            {% elseif status_code == 500 %}
                Ha ocurrido un error en nuestro servidor, le pedimos disculpas, estamos trabajando para solucionarlo.
            {% else %}
                Ha habido un error que desconocemos, por favor contactese con la sectorial de informática.
            {% endif %}
        </p>
    </div>
{% endblock %}