<!DOCTYPE html>
<html>
    <head>
        <title>{% block titulo %}{% endblock %}</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="keywords" content="" />
        <meta name="author" content="" />
        <meta name="copyright" content="&copy;" />
        <meta name="robot" content="all" />

        <link rel="icon" type="image/x-icon" href="{{ asset('bundles/iaposgeneral/favicon.ico') }}" />

        <link rel="stylesheet" href="https://www.santafe.gob.ar/assets/standard/css/normalize.css"  type="text/css" />

        <link rel="stylesheet" href="https://www.santafe.gob.ar/assets/standard/css/1140.css" type="text/css" />

        <link rel="stylesheet" href="https://www.santafe.gob.ar/assets/jquery-ui/jquery-ui-1.10.3/css/gobierno/jquery-ui-1.10.3.custom.css" type="text/css" />

        <link rel="stylesheet" href="https://www.santafe.gob.ar/assets/bootstrap/bootstrap-3.0.2-dist/tables-bootstrap/css/bootstrap.min.css" type="text/css" />

        <link rel="stylesheet" href="https://www.santafe.gob.ar/assets/standard/css/menu/menu.css" type="text/css" />

        <link rel="stylesheet" href="https://www.santafe.gob.ar/assets/standard/css/pagination/html5-pagination.css" type="text/css" />

        <link rel="stylesheet" href="https://www.santafe.gob.ar/assets/standard/css/fonts.css" type="text/css" />

        <link rel="stylesheet" href="https://www.santafe.gob.ar/assets/standard/css/styles-1.0.2.css" type="text/css" />       

        <!-- 1140px Grid styles for IE -->
        <!--[if lte IE 9]><link rel="stylesheet" href="//www.santafe.gob.ar/assets/standard/css/ie.css" type="text/css" media="screen" /><![endif]-->
        <!--[if gte IE 9]>
                <style type="text/css">
                        .gradient {
                                filter: none;
                        }
                </style>
                <![endif]-->
                 
        {% block estilos %}{% endblock %}

    </head>

    <body id="top">

        <div role="navigation" class="navbar navbar-sf navbar-fixed-top">
            <div class="container row-top">
                <div class="navbar-header">
                    <a href="//www.santafe.gob.ar/" title="Portal del Gobierno de Santa Fe" class="navbar-brand"><img alt="Gobierno de Santa Fe" src="https://www.santafe.gob.ar/assets/standard/images/gob-santafe.png"></a>           
                </div>
            </div>
        </div>        


        <div class="container">
            <div class="row top-padding">
                <div class="row">
                    <div class="twelvecol">
                        <div class="contents n5">                            
                            <h2 class="titulo_aplicativo">{% block tituloAplicacion %}{% endblock %}</h2>
                            <p class="organismo">Instituto Autárquico Provincial de Obra Social</p>
                            <!-- bloque opcional: inicio -->
                            <div class="cover" style="background-image:url('{{asset('bundles/iaposgeneral/img/fondo-iapos.png')}}'); background-size: 1140px 300px;">
                             <!-- Cover picture -->
                            </div>                        
                        </div>
                    </div>
                </div>
                
                <div id='cssmenu'>
                    <ul>
                        <li class=''><a href='{{path('iapos_homepage')}}'><span>Inicio</span></a></li>
                        <li class=''>
                            <a href='{{path('iapos_aportes_homepage')}}'>
                                <span>Consulta de Aportes</span>
                            </a>
                        </li>
                        <li class=''>
                            <a href='{{path('iapos_preliquidaciones_homepage')}}'>
                                <span>Preliquidaciones</span>
                            </a>
                        </li>
                        <li class='has-sub'><a><span>Autorizaciones</span></a>
                            <ul>
                                <li class='last'><a href='{{path('iapos_autorizaciones_detalle_homepage')}}'><span>Detalle Autorización</span></a></li>
                            </ul>
                        </li>

                    </ul>
                </div>

                <div id="toolbars" >
                    <div class="clear"></div>
                </div>

            {% block body %}{% endblock %}

            </div>
                               

        </div>


            <!-- Nuevo footer -->
            <div class="footer">
                <div class="row-back-none">
                    <div class="div_left" id="sociales" style="width: 70%">
                        <p><a href="/index.php/web/content/view/full/117678">RSS / SUSCRIPCIÓN A NOTICIAS</a></p>
                        <ul class="inline footer-ul">
                            <li><a target="_blank" href="http://www.twitter.com/GobSantaFe"><i class="icon-footertwitter"></i></a></li>
                            <li><a target="_blank" href="http://www.facebook.com/GobSantaFe"><i class="icon-footerfacebook"></i></a></li>
                            <li><a target="_blank" href="http://gplus.to/GobSantaFe"><i class="icon-footerg"></i></a></li>
                            <li><a target="_blank" href="http://gobsantafe.tumblr.com/"><i class="icon-footertumblr"></i></a></li>
                            <li><a target="_blank" href="http://www.youtube.com/GobSantaFe"><i class="icon-footeryoutube"></i></a></li>
                            <li><a target="_blank" href="http://instagram.com/gobsantafe"><i class="icon-footerinstagram"></i></a></li>
                            <li><a target="_blank" href="https://es.foursquare.com/gobsantafe"><i class="icon-footerfoursquare"></i></a></li>
                            <li><a target="_blank" href="https://storify.com/GobSantaFe"><i class="icon-footerstorify"></i></a></li>
                            <li><a target="_blank" href="http://www.linkedin.com/company/gobierno-de-la-provincia-de-santa-fe"><i class="icon-footerlinkedin"></i></a></li>
                        </ul>
                    </div>
                    <div class="div_left" id="marca" style="width: 30%">
                        <img src="https://www.santafe.gob.ar/assets/app/portal/imgs/marca-footer.png" alt="Santa Fe" style="padding-bottom:10px;">
                        <p>Atención telefónica: 0800-777-0801 </p> 
                        <p>Lunes a viernes de 8 a 18 hs </p>
                    </div>
                </div>
            </div>



        </div>

        
        

        <script src="https://www.santafe.gob.ar/assets/jquery/jquery-1.11.1.min.js"></script>

        <script src="https://www.santafe.gob.ar/assets/jquery-ui/jquery-ui-1.10.3/js/jquery-ui.min.js"></script>

        <script src="https://www.santafe.gob.ar/assets/jquery-ui/jquery-ui-1.10.3/js/jquery.ui.datepicker-es.js"></script>

        <script src="https://www.santafe.gob.ar/assets/jquery/jquery.ui.touch-punch.min.js"></script>

        <script src="https://www.santafe.gob.ar/assets/standard/js/match-media.js"></script>

        <script src="https://www.santafe.gob.ar/assets/standard/js/interface.js"></script>

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
                                <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
                                <!--[if lt IE 9]>
                                <script src="//www.santafe.gob.ar/assets/standard/js/html5shiv.js"></script>
                                <script src="//www.santafe.gob.ar/assets/standard/js/respond.min.js"></script>
                                <![endif]-->

        {% block scripts %}{% endblock %}

        
    </body>
</html>