{% extends 'base.html.twig' %}

{% block titulo %}IAPOS - Detalle Autorizacion{% endblock %}
{% block tituloAplicacion %}IAPOS - Detalle Autorizacion{% endblock %}

{% block body %}

<div class="row">
    <h2>Detalle de Autorizacion</h2> 
    <div class="ui-widget">
        <div class="ui-state-highlight ui-corner-all" style="margin: 5px; padding: 10px;">
            <p>
                <span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span> <strong>Ayuda:</strong>
                <br>Ingresar el número interno de la autorización y hacer clic en BUSCAR.
            </p>
        </div>
    </div>

    <div class="ui-widget" style="display: none" id="alertaNumeroVacio">
        <div class="ui-state-error ui-corner-all" style="margin: 5px; padding: 10px;">
            <p>
                <span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
                <strong>Revisar datos</strong><br>Debe ingresar obligatoriamente un numero de autorización.
            </p>
        </div>
    </div>
    
    {% if (autorizacion is empty) %}
    <div class="ui-widget" id="alertaSinResultados">
        <div class="ui-state-error ui-corner-all" style="margin: 5px; padding: 10px;">
            <p>
                <span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
                <strong>No se encontraron registros</strong><br>No existe una autorización con el número <strong>{{numeroAutorizacion}}</strong>.
            </p>
        </div>
    </div>
    {% endif %}

</div>
<div class="row">
	<div class="sixcol" >
        <label>Número Autorización</label> 
        
        <input name="numeroAutorizacion" id="numeroAutorizacion" required="required" type="text" class="input" placeholder="Ingrese número" style="text-transform:uppercase" value="{{numeroAutorizacion}}" onkeypress="teclaPresionada(event)">

        <button class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button" aria-disabled="false" onclick="buscarAutorizacion()"><span class="ui-button-text">BUSCAR</span></button>
    </div>

</div>

    
{% if (autorizacion is not empty) %}
<div class="row">
    <div class="twelvecol" style="text-align: center">
        <h1>Datos Cabecera</h1>
    </div>

    <table class="table table-condensed table-hover table-striped table-bordered" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <th class="columns-dest">Campo</th>
            <th class="columns-dest">Valor</th>
        </tr>
        <tr>
            <td><b>Número Autorización</b></td>
            <td>{{autorizacion.numeroAutorizacion}}</b></td>
        </tr>
        <tr>
            <td><b>Delegación</b></td>
            <td>{{autorizacion.delegacion.numero}} - {{autorizacion.delegacion.nombre|trim}}</b></td>
        </tr>
        <tr>
            <td><b>Modalidad</b></td>
            <td>{{autorizacion.modalidad}}</td>
        </tr>
        <tr>
            <td><b>Estado</b></td>
            {% if autorizacion.estaAnulada %}
                <td style="color:red;">[ANULADA] {{autorizacion.estado}}</td>
            {% else %}
                <td>{{autorizacion.estado}}</td>
            {% endif %}
        </tr>
        <tr>
            <td><b>Cobertura</b></td>
            <td>{{autorizacion.cobertura.descripcion}}</td>
        </tr>
        <tr>
            <td><b>Documento Afiliado</b></td>
            <td>{{autorizacion.documentoAfiliado}}</td>
        </tr>
        <tr>
            <td><b>Nombre y Apellido</b></td>
            <td>{{autorizacion.miembro.nombre}} {{autorizacion.miembro.apellido}}</td>
        </tr>
        
        <tr>
            <td><b>Fecha Solicitud</b></td>
            <td>{{autorizacion.fechaSolicitud|date("d/m/Y")}}</td>
        </tr>
        {% if autorizacion.estaAnulada %}
        <tr>
            <td><b>Anulacion</b></td>
            <td>{{autorizacion.fechaAnulacion|date("d/m/Y")}} [{{autorizacion.usuarioAnulacion.codigo}} - {{autorizacion.usuarioAnulacion.nombre|trim}}]</td>
        </tr>
        {% endif %}
        <tr>
            <td><b>Fecha Vencimiento</b></td>
            <td>{{autorizacion.fechaVencimiento|date("d/m/Y")}}</td>
        </tr>
        <tr>
            <td><b>Alta</b></td>
            <td>{{autorizacion.fechaHoraAlta|date("d/m/Y H:s:m")}} [{{autorizacion.usuarioAlta.codigo}} -  {{autorizacion.usuarioAlta.nombre|trim}}]</td>
        </tr>
    </table>
</div>

<div class="row">
    <div class="twelvecol" style="text-align: center">
    {% if autorizacion.practicas|length > 0 %}    
        <h1>Datos Prácticas</h1>
        {% for practica in autorizacion.practicas %}
        <div id="tabs">
            <ul>
                <li><a href="#tabs-detalle">Detalle Práctica</a></li>
                <li><a href="#tabs-historial">Historial Práctica</a></li>
            </ul>

            <div id="tabs-detalle">
                <table class="table table-condensed table-hover table-striped table-bordered" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <th class="columns-dest">Práctica</th>
                        <th class="columns-dest">Codigo</th>
                        <th class="columns-dest">Alta</th>
                        <th class="columns-dest">Cant Solicitada</th>
                        <th class="columns-dest">Cant Autorizada</th>
                        <th class="columns-dest">Cant Consumida</th>
                        <th class="columns-dest">Anulación</th>
                        <th class="columns-dest">Estado</th>
                    </tr>

                    
                    <tr>
                        <td>{{practica.practicaNomenclador.descripcion}}</td>
                        <td>{{practica.codigoPrestacion}}</td>
                        <td>{{practica.fechaHoraAlta|date("d/m/Y H:s:m")}} [{{practica.usuarioAlta.codigo}} - {{practica.usuarioAlta.nombre|trim}}]</td>
                        <td>{{practica.cantidadSolicitada}}</td>
                        <td>{{practica.cantidadAutorizada}}</td>
                        <td>{{practica.cantidadConsumida}}</td>
                        {% if practica.estaAnulada %}
                            <td>{{practica.fechaAnulacion|date("d/m/Y")}} [{{practica.usuarioAnulacion.codigo}} - {{practica.usuarioAnulacion.nombre|trim}}]</td>
                            <td style="color:red;">[ANULADA] {{practica.estado}}</td>
                        {% else %}
                            <td> - </td>
                            <td>{{practica.estado}}</td>
                        {% endif %}
                    </tr>
                    
                </table>

            </div>

            <div id="tabs-historial">
                {% if autorizacion.practicas|length > 0 %} 
                <table class="table table-condensed table-hover table-striped table-bordered" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <th class="columns-dest">Fecha Movimiento</th>
                        <th class="columns-dest">Estado</th>
                        <th class="columns-dest">Usuario</th>
                    </tr>
                    
                    {% for modificacion in practica.modificaciones %} 
                    <tr>
                        <td>{{modificacion.fecha|date('d/m/Y')}}</td>
                        <td>{{modificacion.estado}}</td>
                        <td>{{modificacion.usuario.nombre}} - [{{modificacion.usuario.codigo}}]</td>
                    </tr>
                    {% endfor %}
                </table>                
                {% endif %}
            </div>

        </div>
        {% endfor %}
    {% else %} 
    <h1>Autorización sin Prácticas</h1>
    {% endif %} 
    </div>
</div>

{% endif %}


{% endblock %}

{% block scripts %}
    <script type="text/javascript">

    function buscarAutorizacion(){
    	var numeroAutorizacion = document.getElementById("numeroAutorizacion").value.toString();
        
    	if(0 == numeroAutorizacion.length)
            document.getElementById("alertaNumeroVacio").style.display = "block";
        else{
            document.getElementById("alertaNumeroVacio").style.display = "none";
            document.location.href = '{{path('iapos_autorizaciones_detalle_homepage')}}'+numeroAutorizacion;  
        }
    }

	function teclaPresionada(event){
         if (event.keyCode == 13) {
            buscarAutorizacion();
        }    
    }

    </script>

{% endblock %}
