{% extends 'base.html.twig' %}

{% block titulo %}IAPOS - Detalle Autorizacion{% endblock %}
{% block tituloAplicacion %}IAPOS - Detalle Autorizacion{% endblock %}

{% block body %}
<div class="row">
    <h2>Detalle de Autorizacion</h2> 
    <div class="ui-widget">
        <div class="ui-state-highlight ui-corner-all" style="margin: 5px; padding: 10px;">
            <p>
                <span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span> <strong>Ayuda:</strong>
                <br>Ingresar el número interno de la autorización y hacer clic en BUSCAR.
            </p>
        </div>
    </div>

    <div class="ui-widget" style="display: none" id="alertaNumeroVacio">
        <div class="ui-state-error ui-corner-all" style="margin: 5px; padding: 10px;">
            <p>
                <span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
                <strong>Revisar datos</strong><br>Debe ingresar obligatoriamente un numero de autorización.
            </p>
        </div>
    </div>
    
</div>
<div class="row">
	<div class="sixcol" >
        <label>Número Autorización</label> 
        
        <input name="numeroAutorizacion" id="numeroAutorizacion" required="required" type="text" class="input" placeholder="Ingrese número" style="text-transform:uppercase" onkeypress="teclaPresionada(event)">
        
        <button class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button" aria-disabled="false" onclick="buscarAutorizacion()"><span class="ui-button-text">BUSCAR</span></button>
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">

    function buscarAutorizacion(){
    	var numeroAutorizacion = document.getElementById("numeroAutorizacion").value.toString();
        
    	if(0 == numeroAutorizacion.length)
            document.getElementById("alertaNumeroVacio").style.display = "block";
        else{
            document.getElementById("alertaNumeroVacio").style.display = "none";
            document.location.href = '{{path('iapos_autorizaciones_detalle_homepage')}}'+numeroAutorizacion;  
        }
    }

	function teclaPresionada(event){
         if (event.keyCode == 13) {
            buscarAutorizacion();
        }    
    }

    </script>

{% endblock %}
