{% extends 'base.html.twig' %}

{% block titulo %}IAPOS - Consulta Aportes{% endblock %}
{% block tituloAplicacion %}IAPOS - Consulta Aportes{% endblock %}

{% block body %}


<div class="row">
    <h2>Búsqueda de aportes </h2> 
    
    <div class="ui-widget">
        <div class="ui-state-highlight ui-corner-all" style="margin: 5px; padding: 10px;">
            <p>
                <span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span> <strong>Ayuda:</strong>
                <br>Ingresar el documento de la persona y hacer clic en buscar. Se puede colocar en forma <ins>opcional</ins> el rango de fechas en el que se desea realizar la búsqueda.
            </p>
        </div>
    </div>
    <div class="ui-widget" style="display: none" id="alertaDocumentoVacio">
        <div class="ui-state-error ui-corner-all" style="margin: 5px; padding: 10px;">
            <p>
                <span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
                <strong>Revisar datos</strong><br>Debe ingresar obligatoriamente un numero de documento
            </p>
        </div>
    </div>

    <div class="ui-widget" style="display: none" id="alertaFechasInvalidas">
        <div class="ui-state-error ui-corner-all" style="margin: 5px; padding: 10px;">
            <p>
                <span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
                <strong>Revisar datos</strong><br>La fecha desde debe ser menor a la fecha hasta.
            </p>
        </div>
    </div>

    {% if (descuentosPersonaRH is empty) and (descuentosPersonaCJ is empty) %}

    <div class="ui-widget" id="alertaSinResultados">
        <div class="ui-state-error ui-corner-all" style="margin: 5px; padding: 10px;">
            <p>
                <span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
                <strong>No se encontraron registros</strong><br>No existe una persona con el documento <strong>{{ documentoPersona|upper }}</strong> o no se registran aportes para la misma en las fechas ingresadas.
            </p>
        </div>
    </div>
    {% endif %}


</div>

<div class="row">

    <div class="twelvecol" >
        <label>Documento</label> 
        <input name="documento" id="documento" required="required" type="text" maxlength="8" class="input" placeholder="Ingrese documento" onblur="document.getElementById('documento').value = ('00000000'+ document.getElementById('documento').value).slice(-8);" value="{{documentoPersona}}" style="text-transform:uppercase" onkeypress="teclaPresionada(event)">
    
        <label>Fecha Desde</label>
        <input id="fechaDesde" name="fechaDesde" type="text" class="input campo_fecha" readonly='true' value="{{fechaDesde|date("d-m-Y")}}" onkeypress="teclaPresionada(event)">
   
        <label>Fecha Hasta</label>
        <input id="fechaHasta" name="fechaHasta" type="text" class="input campo_fecha" readonly='true' value="{{fechaHasta|date("d-m-Y")}}" onkeypress="teclaPresionada(event)">
    
        <button class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button" aria-disabled="false" onclick="buscarAportes()"><span class="ui-button-text">BUSCAR</span></button>
    </div>

</div>

{% if not (descuentosPersonaCJ is empty) %}

<div class="row">
    <div class="twelvecol" style="text-align: center">
        <h1>Descuentos en Caja de Jubilaciones</h1>
    </div>
    <div class="sixcol" style="text-align: center">
        <h4>Apellido y Nombre:</h4>
    </div>
    <div class="sixcol" style="text-align: center">
        <h4>{{ descuentosPersonaCJ[0].apellidoNombre }}</h4>
    </div>
    <div class="sixcol" style="text-align: center">
        <h4>Documento:</h4>
    </div>
    <div class="sixcol" style="text-align: center">
        <h4>[{{ documentoPersona }}]</h4>
    </div>
</div>
<div class="row">
    <table class="table table-condensed table-hover table-striped table-bordered" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <th class="columns-dest">Año</th>
            <th class="columns-dest">Mes</th>
            <th class="columns-dest">Origen</th>
            <th class="columns-dest">Beneficio</th>
            <th class="columns-dest">Tipo Descuento</th>
            <th class="columns-dest">%</th>
            <th class="columns-dest">Importe</th>
        </tr>
        {% for descuentoPersona in descuentosPersonaCJ %} 
        <tr>
            <td>{{ descuentoPersona.anio }}</td>
            <td>{{ descuentoPersona.mes }}</td>
            <td>{{ descuentoPersona.origen }}</td>
            <td>{% if descuentoPersona.tipoBeneficio == '1' %}JUB{% else %}PEN{% endif %}</td>
            <td>{{ descuentoPersona.descuento.descripcion }}</td>
            <td>{{ descuentoPersona.porcentaje }}</td>
            <td>{{ descuentoPersona.importe }}</td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endif %} 

{% if not (descuentosPersonaRH is empty) %}

<div class="row">
    <div class="twelvecol" style="text-align: center">
        <h1>Descuentos en RR HH</h1>
    </div>
    <div class="sixcol" style="text-align: center">
        <h4>Apellido y Nombre:</h4>
    </div>
    <div class="sixcol" style="text-align: center">
        <h4>{{ descuentosPersonaRH[0].apellidoNombre }}</h4>
    </div>
    
    <div class="sixcol" style="text-align: center">
        <h4>Documento:</h4>
    </div>
    <div class="sixcol" style="text-align: center">
        <h4>[{{ documentoPersona }}]</h4>
    </div>
</div>
<div class="row">
    <table class="table table-condensed table-hover table-striped table-bordered" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <th class="columns-dest">Año</th>
            <th class="columns-dest">Mes</th>
            <th class="columns-dest">Origen</th>
            <th class="columns-dest">Tipo Descuento</th>
            <th class="columns-dest">%</th>
            <th class="columns-dest">Importe</th>
        </tr>
        {% for descuentoPersona in descuentosPersonaRH %} 
        <tr>
            <td>{{ descuentoPersona.anio }}</td>
            <td>{{ descuentoPersona.mes }}</td>
            <td>{{ descuentoPersona.origen }}</td>
            <td>{{ descuentoPersona.descuento.descripcion }}</td>
            <td>{{ descuentoPersona.porcentaje }}</td>
            <td>{{ descuentoPersona.importe }}</td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endif %} 

{% endblock %}

{% block scripts %}
    <script type="text/javascript">
    $("#fechaDesde").datepicker({ dateFormat: 'dd-mm-yy' });
    $("#fechaHasta").datepicker({ dateFormat: 'dd-mm-yy' });
    document.getElementById("documento").focus();
    
    function buscarAportes(){
        document.getElementById("alertaDocumentoVacio").style.display = "none";
        document.getElementById("alertaFechasInvalidas").style.display = "none";
        
        if( document.getElementById("alertaSinResultados") != null)
            document.getElementById("alertaSinResultados").style.display = "none";


        document.getElementById('documento').value = ('00000000'+ document.getElementById('documento').value).slice(-8);

        var documento = document.getElementById("documento").value.toString().toUpperCase();
        var fechaDesdeString = document.getElementById("fechaDesde").value.toString();
        var fechaHastaString = document.getElementById("fechaHasta").value.toString();
        var fechaHasta = $( "#fechaHasta" ).datepicker( "getDate" );
        var fechaDesde = $( "#fechaDesde" ).datepicker( "getDate" );

        if("00000000" == documento)
            document.getElementById("alertaDocumentoVacio").style.display = "block";
        else if ( fechaDesde != null && fechaHasta != null && fechaDesde.getTime() >= fechaHasta.getTime() )
            document.getElementById("alertaFechasInvalidas").style.display = "block";
        else if (fechaDesde == null && fechaHasta != null )
            document.location.href = '{{path('iapos_aportes_homepage')}}'+documento+"/0000-00-00/"+fechaHastaString;
        else if (fechaDesde != null && fechaHasta == null )
            document.location.href = '{{path('iapos_aportes_homepage')}}'+documento+"/"+fechaDesdeString+"/0000-00-00";
        else if (fechaDesde == null && fechaHasta == null)
            document.location.href = '{{path('iapos_aportes_homepage')}}'+documento;
        else
            document.location.href = '{{path('iapos_aportes_homepage')}}'+documento+"/"+fechaDesdeString+"/"+fechaHastaString;   
    }

    function teclaPresionada(event){
         if (event.keyCode == 13) {
            document.getElementById('documento').value = ('00000000'+ document.getElementById('documento').value).slice(-8);
            buscarAportes();
        }    
    }

    </script>

{% endblock %}






