{% extends 'base.html.twig' %}

{% block titulo %}IAPOS - Consulta Aportes{% endblock %}
{% block tituloAplicacion %}IAPOS - Consulta Aportes{% endblock %}

{% block body %}

<div class="row">
    <h2>Búsqueda de aportes </h2> 
    
    <div class="ui-widget">
        <div class="ui-state-highlight ui-corner-all" style="margin: 5px; padding: 10px;">
            <p>
                <span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span> <strong>Ayuda:</strong>
                <br>Ingresar el documento de la persona y hacer clic en buscar. Se puede colocar en forma <ins>opcional</ins> el rango de fechas en el que se desea realizar la búsqueda.
            </p>
        </div>
    </div>
    <div class="ui-widget" style="display: none" id="alertaDocumentoVacio">
        <div class="ui-state-error ui-corner-all" style="margin: 5px; padding: 10px;">
            <p>
                <span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
                <strong>Revisar datos</strong><br>Debe ingresar obligatoriamente un numero de documento
            </p>
        </div>
    </div>

    <div class="ui-widget" style="display: none" id="alertaFechasInvalidas">
        <div class="ui-state-error ui-corner-all" style="margin: 5px; padding: 10px;">
            <p>
                <span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
                <strong>Revisar datos</strong><br>La fecha desde debe ser menor a la fecha hasta.
            </p>
        </div>
    </div>
</div>

<div class="row">

    <div class="twelvecol" >
        <label>Documento</label> 
        <input name="documento" id="documento" required="required" type="text" maxlength="8" class="input" placeholder="Ingrese documento" onblur="document.getElementById('documento').value = ('00000000'+ document.getElementById('documento').value).slice(-8);" style="text-transform:uppercase" onkeypress="teclaPresionada(event)">
    
        <label>Fecha Desde</label>
        <input id="fechaDesde" name="fechaDesde" type="text" class="input campo_fecha" readonly='true' onkeypress="teclaPresionada(event)">
    
        <label>Fecha Hasta</label>
        <input id="fechaHasta" name="fechaHasta" type="text" class="input campo_fecha" readonly='true' onkeypress="teclaPresionada(event)">
    
        <button class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button" aria-disabled="false" onclick="buscarAportes()"><span class="ui-button-text">BUSCAR</span></button>
    </div>

</div>

{% endblock %}

{% block scripts %}
    <script type="text/javascript">
    $("#fechaDesde").datepicker({ dateFormat: 'dd-mm-yy' });
    $("#fechaHasta").datepicker({ dateFormat: 'dd-mm-yy' });
    
    document.getElementById("documento").focus();

    function buscarAportes(){
        document.getElementById("alertaDocumentoVacio").style.display = "none";
        document.getElementById("alertaFechasInvalidas").style.display = "none";
        

        document.getElementById('documento').value = ('00000000'+ document.getElementById('documento').value).slice(-8);

        var documento = document.getElementById("documento").value.toString().toUpperCase();
        var fechaDesdeString = document.getElementById("fechaDesde").value.toString();
        var fechaHastaString = document.getElementById("fechaHasta").value.toString();
        var fechaHasta = $( "#fechaHasta" ).datepicker( "getDate" );
        var fechaDesde = $( "#fechaDesde" ).datepicker( "getDate" );

        if("00000000" == documento)
            document.getElementById("alertaDocumentoVacio").style.display = "block";
        else if ( fechaDesde != null && fechaHasta != null && fechaDesde.getTime() >= fechaHasta.getTime() )
            document.getElementById("alertaFechasInvalidas").style.display = "block";
        else if (fechaDesde == null && fechaHasta != null )
            document.location.href = '{{path('iapos_aportes_homepage')}}'+documento+"/0000-00-00/"+fechaHastaString;
        else if (fechaDesde != null && fechaHasta == null )
            document.location.href = '{{path('iapos_aportes_homepage')}}'+documento+"/"+fechaDesdeString+"/0000-00-00";
        else if (fechaDesde == null && fechaHasta == null)
            document.location.href = '{{path('iapos_aportes_homepage')}}'+documento;
        else
            document.location.href = '{{path('iapos_aportes_homepage')}}'+documento+"/"+fechaDesdeString+"/"+fechaHastaString;    
    }

    function teclaPresionada(event){
         if (event.keyCode == 13) {
            document.getElementById('documento').value = ('00000000'+ document.getElementById('documento').value).slice(-8);
            buscarAportes();
        }    
    }
    </script>
{% endblock %}



