{% extends 'base.html.twig' %}

{% block titulo %}IAPOS - Preliquidaciones{% endblock %}
{% block tituloAplicacion %}IAPOS - Preliquidaciones{% endblock %}

{% block body %}
	<div class="row">
		<h2>Preliquidaciones</h2>
		<div class="ui-widget">
	        <div class="ui-state-highlight ui-corner-all" style="margin: 5px; padding: 10px;">
	            <p>
	                <span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span> <strong>Ayuda:</strong>
	                <br>1- Seleccionar la entidad para la cual se debe emitir preliquidación.
	                <br>2- Indicar mes y año para generar archivo.
	            </p>
	        </div>
	    </div>
	    <div class="ui-widget" style="display: none" id="alertaEntidad">
	        <div class="ui-state-error ui-corner-all" style="margin: 5px; padding: 10px;">
	            <p>
	                <span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
	                <strong>Revisar datos</strong><br>Debe seleccionar la entidad para la cual desea imprimir la preliquidación.
	            </p>
	        </div>
    	</div>
    	<div class="ui-widget" style="display: none" id="alertaFechaInvalida">
	        <div class="ui-state-error ui-corner-all" style="margin: 5px; padding: 10px;">
	            <p>
	                <span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
	                <strong>Revisar datos</strong><br>La fecha no puede ser posterior a {{ "now"|date_modify("-1 month")|date("F/Y")|replace({
			              'January'  : 'Enero',
			              'February'  : 'Febrero',
			              'March'  : 'Marzo',
			              'April'  : 'Abril',
			              'May'  : 'Mayo',
			              'June'  : 'Junio',
			              'July'  : 'Julio',
			              'August'  : 'Agosto',
			              'September'  : 'Septiembre',
			              'October'  : 'Octubre',
			              'November'  : 'Noviembre',
			              'December' : 'Diciembre'
			            }) }}
	            </p>
	        </div>
    	</div>    	

	</div>

	<div class="row">
			<div class="twelvecol" >
					<label>Entidad</label>
			        <select id="entidad">
						    <option value="1">[Seleccionar]</option>
						    <option value="2">Círculo de Kinesiologos SF</option>
						    <option value="3">APRO</option>
						    <option value="4">Cámara de opticas</option>
						    <option value="5">Gremial Médica La Costa SJ</option>
						    <option value="6">Asoc. Prof. Sangre [Todo]</option>
						    <option value="7">Asoc. Prof. Sangre [Solo Hemoterapia]</option>
					</select>

			        <label>Mes</label>
			        <select id="mes">
						    <option value="1">Enero</option>
						    <option value="2">Febrero</option>
						    <option value="3">Marzo</option>
						    <option value="4">Abril</option>
						    <option value="5">Mayo</option>
						    <option value="6">Junio</option>
						    <option value="7">Julio</option>
						    <option value="8">Agosto</option>
						    <option value="9">Septiembre</option>
						    <option value="10">Octubre</option>
						    <option value="11">Noviembre</option>
						    <option value="12">Diciembre</option>
					</select>

					<label>Año</label>
			        <select id="anio">
			        	{% for anio in 2014.."now"|date("Y") %}
						    <option value="{{anio}}">{{anio}}</option>
						{% endfor %}
					</select>

					<label>Extension</label>
			        <select id="extensionArchivo" onchange="onChangeExtension()">
						    <option value="csv" selected>CSV</option>
                                                    <option value="xls">XLS</option>
					</select>

					<label id="caracterSeparacionLabel">Separador</label>
			        <select id="caracterSeparacion">
						    <option value=";">;</option>
						    <option value="|" selected>|</option>
					</select>

			        <button class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button" aria-disabled="false" onclick="generarArchivo()"><span class="ui-button-text">GENERAR ARCHIVO</span></button>
		    </div>
	</div>

	{# 	Modals para progreso y error #}
	<div id="preparing-file-modal" title="Preparando archivo" style="display: none;">
    Estamos preparando su archivo. Esto puede tardar unos minutos.
    	<div id="progressBar" style="width: 100%; height:22px; margin-top: 20px;"></div>
	</div>
	 
	<div id="error-modal" title="Error" style="display: none;">
	    Hubo un error generando su archivo, por favor intente nuevamente.
	</div>
	

{% endblock %}


{% block scripts %}
    
    <script src="{{ asset('bundles/iaposgeneral/js/jquery.fileDownload.js') }}"></script>
    <script type="text/javascript">

    {# 	Asigna una barra de progreso al modal #}
	$( "#progressBar" ).progressbar({
	  value: false
	});


    $('#mes').val('{{"now"|date("n")-1}}');
    $('#anio').val('{{"now"|date("Y")}}');

	{# Coloca el foco donde corresponde #}
    document.getElementById("entidad").focus();
    
    function onChangeExtension(){
        var extensionArchivo = document.getElementById("extensionArchivo").value;
        if (0 == extensionArchivo.localeCompare("xls")){
        	$('#caracterSeparacion').hide();
        	$('#caracterSeparacionLabel').hide();
        }
        else{
        	$('#caracterSeparacion').show();
        	$('#caracterSeparacionLabel').show();
        }

        	
    }
    
    function generarArchivo(){

    	{# Quita los errores que podrian haberse mostrado antes de validar #}
    	document.getElementById("alertaEntidad").style.display = "none";
    	document.getElementById("alertaFechaInvalida").style.display = "none";
        
        {# Prepara variables #} 
        var entidad = document.getElementById("entidad").value;
        var entidadString = $("#entidad option:selected").text();
        var anio = document.getElementById("anio").value;
        var mes = document.getElementById("mes").value;
        var caracterSeparacion = document.getElementById("caracterSeparacion").value;
        var extensionArchivo = document.getElementById("extensionArchivo").value;

        var fechaActual = new Date('{{ "now"|date("Y/m/") }}01'); 
        var fechaSeleccionada = new Date(mes+"/01/"+anio);

        {# Si no selecciono ninguna entidad muestra error #}
	    if (entidad == 1){
	    	document.getElementById("alertaEntidad").style.display = "block";
        	$('html, body').animate({ scrollTop: 0 }, 'fast');
	    }
	    {# Si la fecha es posterior o igual al mes actual muestra error #}
	    else if (fechaSeleccionada.getTime() >= fechaActual.getTime()){
	    	document.getElementById("alertaFechaInvalida").style.display = "block";
	    	$('html, body').animate({ scrollTop: 0 }, 'fast');
	    }
	    else{
        	{# Validaciones superadas #}
        	
        	{# Muestra el modal de progreso #}
        	var $preparingFileModal = $("#preparing-file-modal");
	        $preparingFileModal.dialog({ modal: true });

	        {# Envia el post al servidor para recuperar la carta #}
	        $.fileDownload("{{path('iapos_preliquidaciones_generar')}}", {
		        httpMethod: "GET",
		        data: {
			          entidad: entidad,
			          entidadString: entidadString, 
			          fecha: fechaSeleccionada.toDateString(),
			          extensionArchivo: extensionArchivo,
			          caracterSeparacion: caracterSeparacion,
		        },
		        successCallback: function (url) {
	 				{# Si hay exito, cierra el modal #}
	                $preparingFileModal.dialog('close');
	            },
	            failCallback: function (responseHtml, url) {
	 				{# Si no hay exito, muestra un mensaje de error en el modal #}
	                $preparingFileModal.dialog('close');
	                $("#error-modal").dialog({ modal: true });
	            }
		    });	
        }
    }
    </script>
{% endblock %}




